{% extends "main.template.html.twig" %}
{% block content %}
<div class="span10 user-posts">
  <div class='container-fluid'>
    <div class="posts-title">
    	<span class="title-text">Settings {% if current_user.is_admin %}(ID {{ group.groupID }}){% endif %}</span>
    </div>
  </div>

  <div class="posts-contents">
    <form method="post" class="form-horizontal">
        <fieldset>

            {# Group Name #}
            <div class="control-group">
                <label class="control-label" for="name">Group Name</label>
                <div class="controls">
                    <input type="text" name="name" id="name" value="{{ group.name }}" placeholder="Group Name" />
                    <span class="help-block">
                        The group name to display at the top of every page: required.
                    </span>
                </div>
            </div>

            {# Short Name #}
            <div class="control-group">
                <label class="control-label" form="short_name">Short Name</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">http://toasst.com/</span>
                        <input type="text" name="short_name" id="short_name" maxlength="60"
                            placeholder="Short Name" value="{{ group.short_name }}"
                            {% if group.short_name %}
                                disabled="true"
                            {% endif %} />
                    </div>
                    <span class="help-block">
                        A short name to be used in your URL. Optional, but once set, it <strong>cannot
                        be changed</strong>. Must be between 5-50 ASCII characters.
                    </span>
                </div>
            </div>

            {# Description #}
            <div class="control-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                    <textarea name="description" id="description"
                        placeholder="Description" class="input-xxlarge">{{ group.description }}</textarea>
                    <span class="help-block">
                        Group description. Optional.
                    </span>
                </div>
            </div>

            {# Appearance #}
            <div class="control-group">
                <label class="control-label">Appearance</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">#</span>
                        <input type="text" name="color" id="color" class="input-small" maxlength="6"
                            placeholder="Color" value="{{ group.color }}" />
                    </div>
                    <h3>Icon</h3>
                    <div>
                        <div class="group-icon large"
                            {% if group.image %}
                                style="background: #fff url('{{ group.image }}')"
                                data-image="{{ group.image }}"
                            {% endif %}
                        ></div>
                        <div class="group-icon small"
                            {% if group.image %}
                                style="background: #fff url('{{ group.icon }}')"
                                data-image="{{ group.icon }}"
                            {% endif %}
                        ></div>
                    </div>
                </div>
            </div>

            {# Privacy #}
            <div class="control-group">
                <label class="control-label">Privacy Controls</label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="is_private" id="is_private" value="true"
                            {% if group.is_private %}
                                checked="true"
                            {% endif %} />
                            Require link to join
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="is_closed" id="is_secret" value="true"
                            {% if group.is_closed %}
                                checked="true"
                            {% endif %} />
                            Only admins can add members
                    </label>
                </div>
            </div>

            <input type="submit" class="btn btn-primary pull-right" value="Update" />
        </fieldset>
    </form>
</div>
  <div class='container-fluid'>
    <div class="posts-title">
        <span class="title-text">Members</span>
    </div>
    <div class="posts-contents">
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>#</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Admin Controls</td>
                <td>Kick</td>
            </tr>
        </thead>

        {% set i = 0 %}
        {% for member in group.members %}
            {% set i = i + 1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>
                    {% if member.owns_group(group) %}
                        <form style="display:inline" method="post" action="/g/{{ group.groupID }}/settings/demote_owner">
                            <input type="hidden" name="userID" value="{{ member.userID }}" />
                            <input type="submit" class="btn btn-mini btn-warning" value="Demote" />
                        </form>
                    {% else %}
                        <form style="display:inline" method="post" action="/g/{{ group.groupID }}/settings/promote_owner">
                            <input type="hidden" name="userID" value="{{ member.userID }}" />
                            <input type="submit" class="btn btn-mini btn-success" value="Promote" />
                        </form>
                    {% endif %}
                </td>
                <td>
                    <form style="display:inline" method="post" action="/g/{{ group.groupID }}/settings/kick">
                        <input type="hidden" name="userID" value="{{ member.userID }}" />
                        <input type="submit" class="btn btn-mini btn-danger" value="Kick" />
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>
    </div>
</div>
{% if current_user.is_admin %}
    <div class="container-fluid">
        <div class="post-title">
            <span class="title-text">Admin Settings</span>
        </div>
        <div class="post-contents">
                <form method="post" action="/g/{{ group.groupID }}/settings/delete">
                    <a href='#delete-group' class="btn btn-inverse" data-toggle="modal" role="button" />Delete</a>
                </form>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $('.group-icon').click(function()
        {
            var self = $(this);
            var small = $('.group-icon.small');
            var large = $('.group-icon.large');

            var setImage = function(type, url, onSuccess)
            {
                var action_item = (type == 'small')? small : large;
                var s = (type == 'small')? 16 : 80;
                url += '/convert?fit=crop&w=' + s + '&h=' + s;

                $.ajax({
                    type: 'POST',
                    url: '/g/{{ group.groupID }}/settings/image.json',
                    data: {
                        type: type,
                        url: url
                    },
                    success: function()
                    {
                        action_item.css('background', "#fff url('" + url + "')");
                        if (typeof(onSuccess) !== 'undefined') {
                            onSuccess();
                        }
                    }
                })
            }

            filepicker.pick(
                {
                    mimetype: 'image/*',
                    services: ['COMPUTER', 'URL', 'IMAGE_SEARCH']
                },
                function(fpfile)
                {
                    var picked_type = 'large';
                    if (self.hasClass('small')) {
                        picked_type = 'small';
                    }

                    var otherType = (picked_type == 'small')? 'large' : 'small';
                    var other = (picked_type == 'small')? large : small;
                    var otherAttr = other.attr('data-image');
                    var successLambda = function(){};

                    if (typeof(otherAttr) === 'undefined' || otherAttr === false) {
                        successLambda = function(){
                            setImage(otherType, fpfile.url);
                        };
                    }

                    setImage(picked_type, fpfile.url, successLambda);
                }
            );
        })
    </script>
{% endblock %}
