{% extends "main.template.html.twig" %}
{% block sidebar %}
   <div class="row-fluid">
    <div class="span2 user-sidebar">
      <div class="sidebar-nav">
        <ul class="nav nav-list user-actions">
          <li><div class='user-icon-med'><img src="{{ current_user.image }}"></div></li>
        <!--   <li class="nav-header">You</li>
          <li><a href="#">Followers <span class='user-actions-count'>(23)</span></a></li>
          <li><a href="#">Following <span class='user-actions-count'>(23)</span></a></li> -->
          <li class="nav-header">Your Groups</li>
          {% for group in current_user.groups %}
            <li><a href="/g/{{ group.link_name }}">{{ group.name }}</a></li>
          {% endfor %}
          <li class="nav-header">Other Groups</li>
          {% for group in current_user.all_unjoined_groups %}
            <li><a href="/g/{{ group.link_name }}">{{ group.name }}</a></li>
          {% endfor %}
          <li><a href="#new-group" data-toggle="modal">+ Topic</a></li>
        </ul>
      </div>
    </div>
    <div class="span10 user-posts">
      <div class='container-fluid'>
        <div class="posts-title">
          <span class='title-text'>Feed</span>
        </div>
{% endblock %}

{% block content %}
{% for grouppost in feed %}
    {% block post %}
    {% include 'post.template.html.twig' %}
    {% endblock %}
{% endfor %}
{% endblock %}
