<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Toasst</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/css.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-groupID='{{ group }}' data-username='{{ current_user.name }}' data-userID='{{ current_user }}'>

    <!-- Button to trigger modal -->

<!-- Begin NavBar -->
      <div class="navbar navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Toasst</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
              <li class="dropdown">

                  <a href="#" class="dropdown-toggle notification {% if current_user.unread_notifications | length > 0 %}active{% endif %}" data-toggle="dropdown" onclick='markAllNotificationsAsRead()'>{{ current_user.unread_notifications | length }}

                  {% if  current_user.recent_notifications | length >0 %}
                    </a>
                    <ul class="dropdown-menu">

                    {% for notification in current_user.recent_notifications %}
                      <li><a {% if not notification.is_read %} class='new-notification' {% endif %} href="/g/{{ notification.group }}/t/{{ notification.post.in_reply_to_post }}"><b>{{ notification.source_user.first_name }}</b> replied to your post.
                      </br>
                      "{{ notification.post.content | raw | striptags }}"
                      </a></li>
                    {% endfor %}
                  </ul>
                {% else %}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a>You have no new notifications.</a></li>
                  </ul>
                {% endif %}
              </li>


             <li><a href="/u/{{ current_user }}" class="dropdown-toggle nav-username"> {{ current_user.name}}</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <!-- Begin Hidden Selectors -->
  <!-- Hidden reply selector -->
 <div>
    <div id='reply-selector' class='reply-selector'>
      <li><a onclick='selectText(this)' ><img src="/assets/img/text.png"></img></a></li>
      <li><a onclick='selectLink(this)' ><img src="/assets/img/link.png"></img></a></li>
<!--       <li><a onclick='selectPhoto(this)'><img src="/assets/img/photo.png"></img></a></li>
      <li><a onclick='selectVideo(this)'><img src="/assets/img/video.png"></img></a></li> -->
    </div>
  </div>
<!-- Hidden text comment -->
<form id='reply-form' method=post>
<input class='reply-title' type='text' name="comments" placeholder='title...'></input></br>
<textarea id='comment-content' name="comments" cols=40 rows=6 placeholder='Type text here...'></textarea>
<button type='button' value="submit" onclick='submitNewComment(this)'>submit</button>
</form>

<!-- Hidden link comment -->
<form id='link-form'>
<input class='reply-title' type='text' name="comments" placeholder='title...'></input></br>
<input id='link-content' type='text' name="comments" placeholder='http://...'></input>
<button type='button' onclick='submitNewLink(this)' value="submit">submit</button>
</form>

<!-- Modal -->
<div id="new-group" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create a new group.</h3>
  </div>
  <div class="modal-body">
    <form>
      <input id='new-group-form' type='text' placeholder='Enter group name...'></input>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" onclick='newGroup()'>Create new group</button>
  </div>
</div>

<!-- End Hidden Selectors -->


  <div class="container"> <!-- Start Main Container -->


</br>

<div class='container-fluid'>
  <div class='posts-title'>
    <span class='title-text'>{% block title %}{% endblock %}</span>
  </div>
  {% block sidebar %}
  {% endblock %}


  <div class="posts-contents">
    <!-- Begin twig content template -->
    {% block content %}
    {% endblock %}

  </div>
</div>
<!-- <br>
<footer>
    <p class='copyright'>&copy; Toast 2012</p>
</footer> -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/js.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/timeago.js"></script>

</body>
</html>


<script>
jQuery(document).ready(function() {
  jQuery("span.timeago").timeago();
});
</script>

