<div class='post-container' data-postID='{{ gpost.post }}' data-groupID='{{ gpost.group }}'>
        <div class='container-fluid'>
          {% if gpost.post.title %}
          <a class='post-title' href='/g/{{gpost.group}}/t/{{ gpost.post }}'>{{ gpost.post.title }}</a><span class='post-delimiter'></span>
          {% endif %}
          <div>
            <div class='post-voting'>
              <div class='upvote'>Ʌ</div>
              <div class='downvote'>V</div>
            </div>
            <div class='container-fluid post-body' onmouseover='fadeInEditDongle(this)' onmouseout='fadeOutEditDongle(this)'>
              {{ gpost.post.content|raw }}
              <div class='container-fluid post-footer'>
                <li><a class='post-username' href='user/{{ gpost.post.user }}'>{{ gpost.post.user.name }}</a></li>
                <li><span class='light'>to</span> <a class='post-topic' href='/g/{{ gpost.group.link_name }}'>{{ gpost.group.name }}</a></li>
                <li><span class='post-timestamp timeago' title='{{ gpost.post.created_at | date('c')}}'></span></li>
                <div class='edit-dongle'>
                <li><a><i class="post-icon icon-pencil" onclick='showReplySelector(this)'></i></a></li>
                <li><a href=''><i class="post-icon icon-random"></i></a></li>
                <li><a href='/g/{{ gpost.group }}/t/{{ gpost.post }}'><i class="post-icon icon-comment"></i></a></li>
                </div>
              </div>
            </div>
          </div>
        {% for greply in gpost.replies %}

        {% set gpost = greply %}

        {% set post = greply.post %}
        {% include 'reply.post.html.twig' %}
        {% endfor %}
        </div>

      </div>
