<div class="span2 user-sidebar">
  <div class="sidebar-nav">
    <ul class="nav nav-list user-actions">
      <li><div class='user-icon-med'><a href='/feed.bread'><img src="{{ current_user.image }}"></a></div></li>
      <li class="sidebar-feed-link {% if feed %}active{% endif %}"><a href="http://toasst.com/feed">Your Feed</a></li>

      <li class="nav-header">Your Groups</li>
      {% for this_group in current_user.groups %}
      <li {% if this_group and this_group.groupID == group.groupID %} class='active' {% endif %}>
        <a
        {% if this_group.icon %}
        style="background-image: url('{{ this_group.icon }}')"
        {% endif %}
        href="/g/{{ this_group.link_name }}">{{ this_group.name }}</a>
      </li>
      {% endfor %}
      <li class="new-group-link"><a href="#new-group" data-toggle="modal">+ Create a Group</a></li>

      <li class="nav-header">Other Groups</li>

      {% for this_group in current_user.all_unjoined_groups %}
      <li  {% if this_group and this_group.groupID == group.groupID %} class='active' {% endif %}>
        <a
        {% if this_group.icon %}
        style="background-image: url('{{ this_group.icon }}')"
        {% endif %}
        href="/g/{{ this_group.link_name }}.bread"
        >{{ this_group.name }}</a>
      </li>
      {% endfor %}

      {% if current_user.is_admin %}
        <li class="nav-header">Admin</li>
        <li><a href="/admin/invites.bread">Invite Codes</a></li>
        <li><a href="/admin/sendpush.bread">Push It</a></li>
        <li><a href="/admin/db.bread" target="toasstdb">DB Admin</a></li>
        <li><a href="/admin/mint.bread" target="toastmint">Mint</a></li>
      {% endif %}

      {% if group and not feed %}
          <li class="nav-header">Members</li>

          {% for user in group.members %}
          <li class='user-icon-small' style='background-image:url("{{ user.image }}")'data-userID="{{ user }}"><a rel="tooltip" title="{{ user.name }}"href="/u/{{ user }}.bread"></a></li>
          {% endfor %}
          <li class="clearfix"></li>
          <li><a href="/g/{{ group.link_name }}/directory.bread">Directory</a></li>
    {% endif %}
    </ul>
  </div>
</div>
